body {
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
    font-family: "ff-din-round-web", sans-serif;
}

a {
    color: #8237dc;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 35px;
    color: #360076;
}

h2 {
    font-size: 30px;
    color: #360076;
}

input[type="text"] {
    padding: 6px 12px;
    -webkit-appearance: none !important;
    border-radius: 4px;
    border: 1px solid #ccc;
}

body .prepend-top {
    padding-top: 30px;
}

.text-label {
    padding-top: 7px;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    vertical-align: middle;
}

.table > tbody > tr.active > td {
    background-color: #d4d4d4;
}

nav {
	height: 70px;
    margin-bottom: 10px;
    background: #e1e1e1;
}

.navbar-brand {
	color: #565656 !important;
	font-size: 35px;
	font-weight: 500;
}

.edit-disabled {
	background : none;
    background-color: #eee;
    opacity: 1;
}



